@use "variables" as *;
@use "animations" as *;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin box-shadow($value: 5px, $offset-y: 5px) {
    box-shadow: 0 $offset-y $value rgba(0, 0, 0, 0.2);
}

@mixin color-gradient($color1, $color2, $direction: to bottom right) {
    background: linear-gradient($direction, $color1, $color2);
}

@mixin btn-appearance($color1, $color2, $padding-side: 1rem) {
    color: #fff;
    @include color-gradient($color1, $color2);
    padding: 1rem $padding-side;
    border-radius: 50px;
    @include box-shadow(10px);
    font-size: 1rem;
    font-weight: 500;
}

@mixin btn-lighten() {
    opacity: 0.88;
    @include box-shadow(20px);
}

@mixin heart-anim() {
    @include color-gradient($color-secondary, $color-primary, to top right);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 1;
}

@mixin appear-menu{
    @for $i from 1 to 11 {
        &--#{$i}{
            animation: appearing-menu 0.5s both #{(0.1*$i)}s;
        }
    }
}

@mixin big-screen-margin($value: 1400px) {
    max-width: $value;
    margin: auto;
}

@mixin tablet-layout {
    @media all and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin laptop-layout {
    @media all and (min-width: map-get($breakpoints, laptop)) {
        @content;
    }
}