@use "../utils/mixins" as *;
@use "../utils/variables" as *;

/* BANNER */
.banner {
    max-width: 100%;
    img {
        object-fit: cover;
        max-height: 30rem;
        width: 100%;
    }
}

/* MAIN SECTION */
.main-restau {
    position: relative;
    background-color: $light-grey;
    padding: 2rem 1rem;
    margin-top: -3.8rem;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}

.main-note-enchantee {
    margin-top: -15rem;
}

/* HEADING */
.heading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    margin-bottom: 1rem;
    &__title {
        font-weight: lighter;
        font-size: 1.9rem;
        margin-right: 1rem;
    }
    &__heart {
        font-size: 1.7rem;
        margin-left: 1rem;
        &:hover > *{
            @include heart-anim();
        }
        & > * {
            position: absolute;
            right: 1rem;
            bottom: 0.5rem;
            transition: opacity 0.4s ease-in-out;
        }
        &--full {
            color:$light-grey;
            opacity: 0;
        }
    }
    
}

/* MENU */
.menu {
    margin-bottom: 3rem;
    position: relative;
    display: grid;
    grid-template-areas: 
        "starters"
        "dishes"
        "desserts";
    &__starters {
        grid-area: starters;
    }
    &__dishes {
        grid-area: dishes;
    }
    &__desserts {
        grid-area: desserts;
    }
    &__title {
        max-width: 2.7rem;
        padding-bottom: 0.2rem;
        margin-top: 1rem;
        font-weight: lighter;
        font-size: 1.08rem;
        text-transform: uppercase;
        border-bottom: 3px solid $color-tertiary;
    }
    &__card {
        cursor: pointer;
        display: flex;
        max-width: 100%;
        background-color: #fff;
        padding: 0.8rem;
        margin-top: 1rem;
        border-radius: 15px;
        @include box-shadow(10px, 0);
        overflow: hidden;
        &:hover > .menu__icon {
            margin-right: -0.8rem;
        }
        &:hover i {
            transform: rotate(-1turn);
        }
    }
    &__description {
        max-width: 100%;
        flex: 1;
        width: 100%;
    }
    &__icon {
        background-color: $color-tertiary;
        @include center;
        margin: -0.8rem -4.6rem -0.8rem 0;
        width: 3.7rem;
        transition: all 0.33s ease-in-out;
        i {
            transition: all 0.405s ease-in-out;
        }
    }
    &__icon-wrapper {
        background-color: #fff;
        color: $color-tertiary;
        border-radius: 100%;
        width: 1.4rem;
        height: 1.4rem;
        @include center;
        
    }
    &__sub-title {
        font-weight: 500;
        margin-bottom: 0.3rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__sub-text {
        font-weight: 100;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__price {
        align-self: flex-end;
        font-size: 0.9rem;
        font-weight: 500;
        margin-right: 0.8rem;
    }
}

/* CHECKOUT BUTTON */
.checkout {
    @include center;
    &__btn {
        @include btn-appearance($color-secondary, $color-primary, 2.5rem);
        transition: opacity 0.2s ease-in-out, box-shadow 0.4s ease-in-out;
        &:hover {
            @include btn-lighten;
        }
    }
}