@use "../utils/mixins" as *;

body {
    img {
        max-width: 100%;
    }
}

.header {
    @include center;
    min-height: 3.96rem;
    @include box-shadow();
    margin-bottom: 2rem;
    &__logo {
        margin-bottom: -0.5rem;
    }
    &__return {
        font-size: 1.3rem;
        position: absolute;
        left: 2rem;
        margin-bottom: -0.5rem;
    }
}

